.group-header {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bcb8ff;
  margin-bottom: 10px;
  box-shadow: 0 4px 2px -2px gray;
}

.group-body {
  display: grid;
  grid-template-columns: 30% auto;

}