.profile-cover {
    width: 100%;
    height: 300px;
    margin-top: 2px;
    background-position: center center;
    // border: 2px solid #ECEFF1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.profile-body {
    margin-bottom: 300px;
    display: grid;
    grid-template-columns: 30% auto;
    .profile-general {
        margin-top: $profile-margin;
        height: auto;
        width: 90%;
        text-align: center;
        .profile-image-section {
            width: 100%;
            // height: 100%;
            display: flex;
            justify-content: center;
            .profile-image {
                height: $profile-img-size;
                width: $profile-img-size;
                border-radius: 100%;
                margin-top: -$profile-img-size/2;
                border: 5px solid $background-color;
                box-shadow: 0 1px 0 1px $box-border-color;
                background-position: center center;
                background-size: cover;
            }
        }
        .profile-general-fullname {
            text-align: center;
            margin-top: $profile-margin - 5px;
            font-size: 1.4rem;
            font-weight: 600;
            color: rgba(0, 0, 0, .75);
        }
        .profile-general-details {
            display: flex;
            justify-content: center;
            div {
                margin: 5px;
                font-weight: 600;
                font-size: .6rem;
                letter-spacing: 1px;
                color: $secondary-text;
                &:first-child {
                    border-right: 1px solid $secondary-text;
                    padding-right: 8px;
                }
                &:last-child {
                    border-left: 1px solid $secondary-text;
                    padding-left: 8px;
                }
            }
        }
        // .contact {

        // }
        .profile-general-follow-btn {
            width: 90%;
            margin-left: 5%;
            margin-top: 10px;
            background-color: $navbar_secondary;
            border: 1px solid #3b86b8;
            border-radius: 3px;
            padding: 8px 0;
            color: white;
            outline: none;
            &:hover {
                cursor: pointer;
                background-color: rgb(55, 137, 199);
            }
            &:active {
                background-color: #3b86b8;
            }
        }
        .contact {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: .9rem;
            padding-bottom: 0;
            font-weight: 700;
            color: rgba(0, 0, 0, .65);
        }
    }
    
    .profile-bio {
        width: 90%;
        margin-top: $profile-margin;
        padding: 20px;
        line-height: 1.4rem;
        color: rgba(0, 0, 0, .7);
        max-height: 226px;
        overflow-y: auto;
        h3 {
            margin-top: 0 !important;
            margin-bottom: 10px;
            font-size: 1.5rem;
        }
    }
    .profile-bookshelf {
        margin-top: $profile-margin;
        .profile-header {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 500;
            text-transform: uppercase;
            color: rgba(0, 0, 0, .75);
            padding: 10px;
            border-bottom: 1px solid $box-border-color;
        }
        .profile-options {
            display: flex;
            width: 100%;
            .profile-option {
                width: 50%;
                text-align: center;
                padding: 10px;
                color: rgba(0, 0, 0, .65);
                font-size: 1.2rem;
                border-bottom: 3px solid rgba(0, 0, 0, .1);
                &:hover {
                    color: $navbar_primary;
                    cursor: pointer;
                    // border-bottom-color: $navbar_primary;
                }
                &.profile-option-active {
                    color: $navbar_primary;                    
                    border-bottom-color: $navbar_primary;
                }
            }
        }
        .profile-filters {
            padding: 15px;
            display: flex;
            * {
                margin: 5px;
            }

            div {
                font-size: .9rem;
                color: rgba(0, 0, 0, .75);
                padding-top: 8px !important;
            }

            select {
                padding: 8px;
                border-radius: 5px;
            }
        }
        .profile-book-list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .profile-book-box {
                margin-bottom: 20px;
                width: 25%;
                .book-img {
                    height: 250px;
                    margin: 0 30px 8px 30px;
                    background-size: cover;
                    background-position: center center;
                }
                .book-title {
                    text-align: center;
                    color: rgba(0, 0, 0, .75);
                    font-weight: 600;
                }
            }
        }
      
    }
    .profile-following-box {
        margin-top: $profile-margin;
        width: 90%;
        padding: 20px;
        .header {
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, .15);
            color: rgba(0, 0, 0, .65);
            .all {
                color: $navbar_secondary;
                cursor: pointer;
                &:hover {
                    color: $navbar_primary;
                    text-decoration: underline;
                }
            }
        }
        .profile-following-list {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .f-user-item {
                height: 50px;
                width: 50px;
                margin: 5px;
                border-radius: 100%;
                background-size:cover;
                background-position: center center;
            }
        }
    }
}

.box-star {
    color:  #F8A0AC;
    text-shadow: none;        
}

.rating {
    .box-star-active {
        color: goldenrod !important;
    }
    .box-star {
        color: #CFCFCF;
    }
}

.box-star {
    display: inline-block;
    margin: 0;
    // padding: 2px;
    // width: 100%;
    &.box-star-active {
        color: white !important;
        // padding: 2px;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, .5), -1px -1px  1px rgba(255, 255, 255, .5);
    }
}

.profile-posts {
    .profile-post:first-child {
        margin-top: $home-margin/2;
    }
    
    .profile-post {
        margin-bottom: $home-margin;
    }
}

.achievments {
    text-align: center;    
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 15px;
    .achievment-title {
        padding: 10px;
        font-size: 1.1rem;
        font-weight: 500;
    }
    .achievment-img {
       max-height: 50%;
       max-width: 50%;
    }   
}

.btn-like {
    transform: scale(1) rotate(0deg);
    transition: .1s ease-in-out;
    svg {
        &:hover {
            transform: scale(1.1);
            transition: .4s ease-in-out;
        }
        &:active, .active-like {
            transform: scale(1.2);
            color: red;
            transition: .3s ease-in-out;
        }
    }
}

.create-post {
    margin-top: $home-margin/2;
    margin-bottom: $home-margin;
    .create-title {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 20px;
        color: rgba(0, 0, 0, .7);
    }
    .create-post-btn {
        margin-top: 20px;
    }
}

.settings-container {
    text-align: center;
    // display: flex;
    // justify-content: center;
    div {
        // width: 100%;
        .settings-title {
            font-size: 2rem;
            font-weight: 500;
            color: rgba(0, 0, 0, .8);
            margin-top: $home-margin;
            margin-bottom: $home-margin/2;
        }
        div {
            width: 100%;
            .input {
                width: 100%;
            }
        }
    }
}
.names {
    display: inline;
}

.btn-settings {
    margin-top: 20px;
    width: 25% !important;
}

